.main-cont {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
  }

  ul{
    list-style-type:none;
}

.post {
  border:1px solid black;
}